@charset "UTF-8";
body{
	background: url("../img/BG-200px.png") repeat;
}
.container{
	margin-bottom: 15px;
}
.fondooscuro {
	background-color: rgba(0,0,0,0.4);
	padding: 15px;
	margin: 1px;
}
.textodorado {
	color: #FFCC00;
}
.textonaranja {
	color: #F39325;
}
.textoverde {
	color: #76B82A;
}
.textoblanco {
	color: #FFF;
}
.textocabecera{
	text-align: right;
}
@media (max-width: 992px) {
	.textocabecera{
		text-align: center;
	}
	img{
		max-height: 118px;
	}
}
@media (max-width: 768px) {
	.col-xs-3{
		padding:0;
	}
}